@model ArtifactsApp.Models.Artifact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artifact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNameOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNameOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNameTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNameTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNameThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNameThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNameFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNameFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonNameFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonNameFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproxValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproxValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AquiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AquiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExtinct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExtinct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDiscoveredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDiscoveredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDiscoveredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDiscoveredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kingdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kingdom.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phylum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phylum.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
