@model IEnumerable<ArtifactsApp.Models.ViewModels.ArtifactIndexViewModel>

@{
    ViewData["Title"] = "Index";
}



<h1>Artifacts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="ArtifactsTable" width="100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CommonNameOne)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PhylumText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClassText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OrderText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FamilyText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GenusText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpeciesText)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ApproxValue)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AquiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceId)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row" class="text-nowrap">
                @Html.DisplayFor(modelItem => item.CommonNameOne)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PhylumText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenusText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproxValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AquiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source.BusinessName)
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/html" src="~/js/datatables.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#ArtifactsTable').dataTable();
            });
        </script>
}
